@import url('https:fonts.googleapis.com/css?family=font-name&family=optional-2nd-font-name&display');

body {
font-family: var(--paragraph-font);
max-width: 960px;
padding: 20px;
}

:root {
    --primary-color: #0f7173;
   --secondary-color: #0F7173;
   --accent1-color: #E7ECEF;
   --accent2-color: #272932;

   --heading-font:'______', serif;
   --paragraph-font: '____' serif;

--nav-background-color: #F05D5E;
--nav-link-color: #5C9EAD;
--nav-hover-link-color: #379634;
--nav-hover-background-color: #594A26;
}

body{
    f____: var(--paragraph-font);
    m____: _____;
    p____: _____;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}